appdirs==1.4.4
asgiref==3.2.10
boto3==1.14.16
botocore==1.17.16
distlib==0.3.1
Django==3.0.8
django-crispy-forms==1.9.1
django-storages==1.9.1
django-summernote==0.8.11.6
docutils==0.15.2
filelock==3.0.12
gunicorn==20.0.4
jmespath==0.10.0
Pillow==7.2.0
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
virtualenv==20.0.25
