{% extends 'blogs/blog-template.html' %}

{% load static %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/images/home-background.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 style="font-size: 50px;">Unyime Etim's Blog</h1>
              <span class="subheading"></span>
           
            </div>
          </div>
        </div>
      </div>
    </header>
  
    <!-- Main Content -->
    
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% for post in posts %}
            <div class="post-preview">
              <a href="{% url 'posts' post.slug %}">
                <h2 class="post-title">
                  {{post.title}}
                </h2>
                <h3 class="post-subtitle">
                  {{post.subtitle}}
                </h3>
              </a>
              <p class="post-meta">Posted by
                <a href="#">{{post.author}}</a>
                {{post.date_published}}</p>
            </div>
            <hr>
          {% endfor %}
          
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>
  
    <hr>
  
  

<main id="main">
    
    
</main><!-- End #main -->
{% endblock content %}