{% extends 'blogs/blog-template.html' %}

{% load static %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/images/home-background.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 style="font-size: 25px;">{{post.title}}</h1>
              <span class="subheading"></span>
              <span class="meta">
                  Posted by {{post.author}} on {{post.date_published}}
              </span> 
            </div>
          </div>
        </div>
      </div>
  </header>


  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{post.content|safe}}
        </div>
      </div>
    </div>
  </article>

  <hr>

  <div class="container">
    <div id="disqus_thread"></div>
    <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      
      var disqus_config = function () {
      this.page.url =  window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier =  window.location.href; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://unyime-etim-1.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  
                              

{% endblock content %}