<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
      <h3>Unyime Etim</h3>
      <p></p>
      <div class="social-links">
        <a href="https://twitter.com/unyimeetim4" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="http://www.facebook.com/NestorX99" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://www.github.com/unyime1" class="facebook"><i class="fa fa-github "></i></a>
        <a href="https://www.linkedin.com/in/unyime-etim-9162b5188/" class="linkedin"><i class="icofont-linkedin"></i></a>      
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Unyime Etim</span></strong>. All Rights Reserved
      </div>
      
    </div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>