{% extends 'mains/template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      
      <h1>Unyime Etim</h1>
      <h2>Full Stack Developer</h2>
     
      <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Me Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <span>About Me</span>
          <h2>About Me</h2>
          
        </div>

        <div class="row" id="info">
          <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-lg-8 d-flex flex-column align-items-stretch">
            <div class="content pl-lg-4 d-flex flex-column justify-content-center" >
              <div class="about-me">
                
                <p>
                  I am an innovative and deadline-driven developer with years of experience 
                  in designing and developing user-friendly and mobile-responsive web applications.
                  I build solutions that provide your business with an extensive online 
                  presence to meet your specific objectives and goals.
                </p>
                <p>
                  I think algorithmically, and delight in continuous learning of new technologies 
                  to enable me serve you better. 
                </p>
                <p>
                  I am currently available for freelance work, so if you would like to work with me, 
                  or just fancy saying hello, then I will be very happy to hear from you.  
                  You can reach me on my email <a href="mailto:unyime_etim58@yahoo.com">here</a>, or 
                  send a message through <a href="#contact">my contact form</a>. 
                </p>
  
              </div>
              
              <div class="row mt-n4" id="data">
                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                    <span data-toggle="counter-up">5</span>
                    <p><strong>Happy Clients</strong> </p>
                  </div>
                </div>

                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-document-folder" style="color: #8a1ac2;"></i>
                    <span data-toggle="counter-up">7</span>
                    <p><strong>Projects</strong> </p>
                  </div>
                </div>

                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-clock-time" style="color: #2cbdee;"></i>
                    <span data-toggle="counter-up">2</span>
                    <p><strong>Years of experience</strong> </p>
                  </div>
                </div>

               
                <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-award" style="color: #ffb459;"></i>
                    <span data-toggle="counter-up">1</span>
                    <p><strong>Awards</strong> </p>
                  </div>
                </div>
               
                
              </div>
            </div><!-- End .content-->

            
          </div>
        </div>

      </div>
    </section><!-- End About Me Section -->

    <!-- ======= My Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <span>My Resume</span>
          <h2>My Resume</h2>
          <p>View my full resume <a href="https://docs.google.com/document/d/13dlIKvarwFzXch3BfvyPqEdCUqJU6vJzuMSq1_2XYlk/edit?usp=sharing" target="_blank">here</a></p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Unyime Etim</h4>
              <p>
                <em>Innovative and deadline-driven developer with years of experience 
                  in designing and developing user-friendly and mobile-responsive web applications.
                </em>
              </p>
              <p>
              <ul>
                <li>Uyo, Nigeria</li>
                <li>+2348162533330</li>
                <li>unyime_etim58@yahoo.com</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">Education</h3>
            <!--

            -->
            
            <div class="resume-item">
              <h4>Bachelor of Engineering</h4>
              <h5>2012 - 2017</h5>
              <p><em>University of Uyo, Nigeria</em></p>
              <ul>
                <li>Major Chemical Engineering</li>
                <li>Final research project on the analysis of the viability of rubber latex as an effective 
                  replacement/supplement to foreign-manufactured binders in paint formulation.
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Freelance Web Developer</h4>
              <h5>2018 - Present</h5>
              <p><em>Uyo, Nigeria </em></p>
              <p>
              <ul>
                <li>
                  Responsible for the design, development, and implementation of web based 
                  solutions for individuals and businesses.
                </li>
                <li>
                  Oversees the continuous maintenance and debugging of web based applications.
                </li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Lead Developer</h4>
              <h5>2019 - Present</h5>
              <p><em>Personal Portfolio/Blog</em></p>
              <p>
              <ul>
                <li>
                  Responsible for the design, development, deployment, 
                  and maintenance of my portfolio/blogging application.
                </li>
                
              </ul>
              </p>
            </div>

            <div class="resume-item">
              <h4>Mathematics Tutor</h4>
              <h5>2019 - Present</h5>
              <p><em>Gracepower High School</em></p>
              <p>
              <ul>
                <li>In charge of lecturing Mathematics to junior secondary pupils. </li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End My Resume Section -->

    <!-- ======= My Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>My Services</span>
          <h2>My Services</h2>
          <p>
            Let me partner with you to showcase your brand, products and services to 
            the world, enhance your brand appeal, drive revenue and increase profitability.
          </p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-globe"></i></div>
              <h4 class="title"><a href="mailto:unyime_etim58@yahoo.com">Software as a Service (SaaS) Applications</a></h4>
              <p class="description">
                Do you need custom made solutions that will be available 
                to your customers wherever they are? 
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-line-chart"></i></div>
              <h4 class="title"><a href="mailto:unyime_etim58@yahoo.com">Business Landing Pages/Ecommerce Applications </a></h4>
              <p class="description">
                Do you need business oriented solutions with the sole aim of getting your 
                enterprise more sales?
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-edit"></i></div>
              <h4 class="title"><a href="mailto:unyime_etim58@yahoo.com">Blogs, News & Magazine Sites</a></h4>
              <p class="description">
                Do you need an avenue to get your messages out there? 
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="fa fa-cubes"></i></div>
              <h4 class="title"><a href="mailto:unyime_etim58@yahoo.com">Custom Made Solutions</a></h4>
              <p class="description">
                Is your need not mentioned? <a href="mailto:unyime_etim58@yahoo.com">Send me an email</a>
                and let's talk about it.
              </p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End My Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="{% static 'images/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'images/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= My Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>My Portfolio</span>
          <h2>My Portfolio</h2>
          <p>Here are some of my works. Would you like to see more? <a href="mailto:unyime_etim58@yahoo.com">Email me</a>.</p>
        </div>

        

        <ul id="portfolio-flters" class="d-flex justify-content-center">
          <li data-filter="*" class="filter-active">All</li>
          <!--
             <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
          -->
         
        </ul>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/portfolio-1.png' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Blogging Application (Wordpress)</h4>
              <p>App</p>
              <a href="{% static 'images/portfolio/portfolio-1.png' %}" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

         

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/portfolio-3.png' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Blogging Application (Flask)</h4>
              <p>App</p>
              <a href="{% static 'images/portfolio/portfolio-3.png' %}" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/portfolio-4.png' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4> Ecommerce Application (Django)</h4>
              <p>Card</p>
              <a href="{% static 'images/portfolio/portfolio-4.png' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'images/portfolio/portfolio-2.png' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Customer Management System (Django)</h4>
              <p>Web</p>
              <a href="{% static 'images/portfolio/portfolio-2.png' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

        
      </div>
    </section><!-- End My Portfolio Section -->

    
    <!-- ======= Contact Me Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact Me</span>
          <h2>Contact Me</h2>
          <p>You can reach me through any of the following channels</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-share-alt"></i>
                  <h3>Social Profiles</h3>
                  <div class="social-links">
                    <a href="https://twitter.com/unyimeetim4" class="twitter"><i class="icofont-twitter"></i></a>
                    <a href="http://www.facebook.com/NestorX99" class="facebook"><i class="icofont-facebook"></i></a>
                    <a href="https://www.github.com/unyime1" class="facebook"><i class="fa fa-github "></i></a>
                    <a href="https://www.linkedin.com/in/unyime-etim-9162b5188/" class="linkedin"><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Me</h3>
                  <p>unyime_etim58@yahoo.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Me</h3>
                  <p>+2348162533330</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <div class="contact-box">
                {% for message in messages %}
					    <p>{{message}}</p>
				    {% endfor %}
            <form method="POST" action="">
              {% csrf_token %}

              <div class="form-row">
                <div class="col-md-6">{{form.first_name|as_crispy_field}}</div>
                <div class="col-md-6">{{form.last_name|as_crispy_field}}</div>
              </div>

              <div class="form-row">
                <div class="col-md-12"> {{form.email|as_crispy_field}}</div>
              </div>

              <div class="form-row">
                <div class="col-md-12">{{form.subject|as_crispy_field}}</div>
              </div>

              <div class="form-row">
                <div class="col-md-12">{{form.message|as_crispy_field}}</div>
              </div>
              <div class="text-center"><button type="submit" class=" btn btn-success">Send Message</button></div>
            </form>
            </div>
            
          </div>

        </div>

      </div>
    </section><!-- End Contact Me Section -->
  </main><!-- End #main -->
{% endblock content %}