{% extends 'mains/template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<!-- Masthead-->
<header class="masthead" style="background-image: url('/static/images/header-bg.jpg')">  
    <div class="container">
        <div class="masthead-heading text-uppercase">Hi, I'm Unyime Etim</div>
        <div class="masthead-subheading">A Full Stack Web Developer</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Tell Me More</a>
    </div>
</header>

<!-- ======= About Me Section ======= -->
<section class="page-section about" id="about">
  <div class="container">

    <div class="text-center">
      <h2 class="section-heading text-uppercase">About Me</h2>  
      <h3 class="section-subheading text-muted"></h3>
    </div>

    <div class="row" id="info" >
      <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"   style="background-image: url('/static/images/me.jpg')"></div>
      <div class="col-lg-8 d-flex flex-column align-items-stretch" >
        <div class="content pl-lg-4 d-flex flex-column justify-content-center" >
          <div class="about-me">
            
            <p>
              I am an innovative and deadline-driven developer with years of experience 
              in designing and developing user-friendly and mobile-responsive web applications.
              I build solutions that provide your business with an extensive online 
              presence to meet your specific objectives and goals.
            </p>
            <p>
              I think algorithmically, and delight in continuous learning of new technologies 
              to enable me to serve you better. 
            </p>
            <p>
              I am currently available for freelance work, so if you would like to work with me, 
              or just fancy saying hello, then I will be very happy to hear from you.  
              You can reach me on my email <a href="mailto:unyime_etim58@yahoo.com">here</a>, or 
              send a message through <a href="#contact">my contact form</a>. 
            </p>
            <p>
              If you would like to have a look at my CV, please feel free to checkout <a href="https://docs.google.com/document/d/13dlIKvarwFzXch3BfvyPqEdCUqJU6vJzuMSq1_2XYlk/edit?usp=sharing" target="_blank">this link</a>.
              You can also find my github repository <a href="https://github.com/unyime1">here</a>.
            </p>

          </div>
          
          
        </div><!-- End .content-->

        
      </div>
    </div>

  </div>
</section><!-- End About Me Section -->

<!-- Services-->
<section class="page-section" id="services">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Services</h2>
          <h3 class="section-subheading text-muted">Let me partner with you to showcase your brand, products, and services to 
            the world, enhance your brand appeal, drive revenue, and increase profitability.</h3>
      </div>
      <div class="row text-center">

        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Web Platforms</h4>
            <p class="text-muted"> Do you need custom made web-based platforms that will be available 
              to your customers wherever they are? </p>
        </div>

        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="my-3">Business Oriented Solutions</h4>
            <p class="text-muted">Do you need business-oriented solutions with the sole aim of getting your 
              enterprise more sales?</p>
        </div>

        <div class="col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">Custom Made Solutions</h4>
          <p class="text-muted"> Is your need not mentioned? <a href="mailto:unyime_etim58@yahoo.com">Send me an email</a>
            and let's talk about it.</p>
        </div>
      </div>
  </div>
</section>



<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Portfolio</h2>
          <h3 class="section-subheading text-muted">Here are some of my works. Would you like to see more? <a href="mailto:unyime_etim58@yahoo.com">Email me</a>.</h3>
      </div>
      <div class="row">
        {% for project in projects %}
          <div class="col-lg-4 col-sm-6 mb-4">
            <div class="portfolio-item">
              <a class="portfolio-link" href="{{project.link}}">
                  <div class="portfolio-hover">
                      <div class="portfolio-hover-content"><i class="fa fa-link fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="{{project.imageURL}}" alt="" />
              </a>
              <div class="portfolio-caption">
                <div class="portfolio-caption-heading">{{project.title}} </div>
                <div class="portfolio-caption-subheading text-muted">{{project.category|title}}</div>

                {% if request.user.is_staff %}
                <a href="{% url 'update_project' project.id %}">Update</a>
                <a href="" data-toggle="modal" data-target="#deleteModal">Delete</a>
                {% endif %}
              </div>
            </div>
          </div>
          <!--- Modal For Delete Project-->
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this project?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="{% url 'delete_project' project.id %}" method="POST">
                          {% csrf_token %}
                          <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
          </div>
          <!--end of modal-->
        {% endfor %}
          
      </div>
  </div>
</section>
<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Message Me</h2>
          <h3 class="section-subheading text-muted"></h3>
          
          {% if messages %}
              {% include 'mains/messages.html' %} 
          {% endif %}
      </div>
      <div class="row">
        
        <div class="col-md-12">
          <form id="contactForm" method="POST" action="" >
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-row">
                  <div class="col-md-12">
                    {{form.name|as_crispy_field}}
                  </div>
                </div>
    
                <div class="form-row">
                  <div class="col-md-12">
                    {{form.email|as_crispy_field}}
                  </div>
                </div>
    
                <div class="form-row">
                  <div class="col-md-12">
                    {{form.subject|as_crispy_field}}
                  </div>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="form-row">
                  <div class="col-md-12">
                    {{form.message|as_crispy_field}}
                  </div>
                </div>
              </div>
              
            </div>
            

            <div class="text-center">
              <div id="success"></div>
              <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Send Message</button>
            </div>
          </form>
        </div>
        
      </div>
      
  </div>
</section>
  <!-- End Contact Me Section -->

{% endblock content %}