{% extends 'mains/template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

   <!-- Masthead-->
    <header class="masthead" style="background-image: url('/static/images/header-bg.jpg')">  
        <div class="container">
            <div class="masthead-heading text-uppercase">Add Project</div>
           
        </div>
    </header>
        <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="col-md-12">
                            {{form.title|as_crispy_field}}
                        </div>
                        
                    </div>

                   

                    <div class="form-row">
                        <div class="col-md-12">
                            {{form.category|as_crispy_field}}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            {{form.link|as_crispy_field}}
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="col-md-12">
                            {{form.image|as_crispy_field}}
                        </div>
                    </div>

                    <div class="form-row">
                        <button type="submit" class="btn btn-primary">Save</button> 
                    </div>
                    
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <hr>

{% endblock %}