{% extends 'blogs/blog-template.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <header class="masthead" style="background-image: url('/static/images/header-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
                <h1 style="font-size: 50px;">Add Testimonial</h1>
                <span class="subheading"></span>
            
            </div>
            </div>
        </div>
        </div>
    </header>

    <hr>
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% include 'mains/messages.html' %} 
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="col-md-12">
                            {{form.name|as_crispy_field}}
                        </div>
                        
                    </div>

                   

                    <div class="form-row">
                        <div class="col-md-12">
                            {{form.business|as_crispy_field}}
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="col-md-12">
                            {{form.image|as_crispy_field}}
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                {{form.content}}
                            </div>
                        </div>
                        
                    </div>

                    <div class="form-row">
                        <button type="submit" class="btn btn-primary">Save</button> 
                    </div>
                    
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <hr>

{% endblock %}