<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href=" {% url 'admin_panel' %} ">
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span> 
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href=" {% url 'all_posts' %} ">
            <span data-feather="home"></span>
            Posts <span class="sr-only">(current)</span> 
          </a>
        </li> 

        <li class="nav-item">
          <a class="nav-link active" href=" {% url 'all_testimonials' %} ">
            <span data-feather="home"></span>
            Testimonials <span class="sr-only">(current)</span> 
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link active" href=" {% url 'all_projects' %} ">
            <span data-feather="home"></span>
            Projects <span class="sr-only">(current)</span> 
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href=" {% url 'admin_contacts' %} ">
            <span data-feather="home"></span>
            Contacts <span class="sr-only">(current)</span> 
          </a>
        </li>
        

      </ul>
      
    </div>
</nav>